<%= simple_form_for([:admin, @automacao_grupo_acao], url: admin_automacao_grupo_acao_form_path(@automacao_grupo, @automacao_grupo_acao), input_html: { class: 'form_automacao_grupo_acao' }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :tipo_acao,
      wrapper_html: { class: 'm12 s12', id: 'tipo-acao-select' },
      collection: tipo_acao_keys %>
  </div>

  <div class="row">
    <%= f.input :delay_time, wrapper_html: { class: 'm12 s12 delay-time-select' } %>
  </div>

  <div class="row">
    <%= f.association :run_automacao, collection: automacoes_grupo(@automacao_grupo.grupo), wrapper_html: { class: 'm12 s12 run-automacao-select' } %>
  </div>

  <div class="row">
    <%= f.association :turn_on_off_automation, collection: automacoes_grupo(@automacao_grupo.grupo), wrapper_html: { class: 'm12 s12 turn-on-off-select' } %>
  </div>

  <div class="row">
    <%= f.association :componente_ambiente, collection: componentes_ambientes(@automacao_grupo.grupo.ambientes_grupo), wrapper_html: { class: 'm12 s12 componente-acao-select' } %>
  </div>

  <div class="row">
    <%= f.association :componente_propriedade, collection: componentes_propriedades, wrapper_html: { class: 'm12 s12 componente-propriedade-acao-select' } %>
  </div>


  <div class="row">
    <% if @automacao_grupo_acao.persisted? %>
      <%= link_icon_to_back admin_automacao_grupo_acao_path(@automacao_grupo_acao) %>
    <% else %>
      <%= link_icon_to_back admin_automacao_grupo_automacoes_grupo_acoes_path(@automacao_grupo) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
