<% breadcrumb :automacoes_grupo_acoes, @automacao_grupo %>
  <div class="row">
    <h3><%= plural_model_name_for(AutomacaoGrupoAcao) %></h3>
  </div>

  <div class="row">
    <%= search_form_for @q, url: admin_automacao_grupo_automacoes_grupo_acoes_path do |f| %>

    <div class="col s11">
      <%= f.search_field :tipo_acao_cont, class: "form-control", placeholder: "Pesquisar Condições" %>
    </div>
    <div class="col s1">
      <button class="waves-effect waves-light btn grey lighten-4" type="submit">
        <i class="large material-icons black-text">search</i>
      </button>
    </div>
  <% end %>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><%= AutomacaoGrupoAcao.human_attribute_name(:id) %></th>
        <th><%= AutomacaoGrupoAcao.human_attribute_name(:tipo_acao) %></th>
        <th><%= AutomacaoGrupoAcao.human_attribute_name(:delay_time) %></th>
        <th><%= AutomacaoGrupoAcao.human_attribute_name(:created_at) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @automacoes_grupo_acoes.each do |automacao_grupo_acao| %>
        <tr data-href="<%= admin_automacao_grupo_acao_path(automacao_grupo_acao) %>">
          <td><%= automacao_grupo_acao.id %></td>
          <td><%= automacao_grupo_acao.tipo_acao %></td>
          <td><%= automacao_grupo_acao.delay_time %></td>
          <td><%= ltime automacao_grupo_acao.created_at %></td>
          <td><%= link_icon_to_edit(edit_admin_automacao_grupo_acao_path(automacao_grupo_acao))%></td>
          <td><%= link_icon_to_destroy(admin_automacao_grupo_acao_path(automacao_grupo_acao)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= link_icon_to_back admin_grupo_automacoes_grupo_path(@automacao_grupo.grupo) %>
  <%= link_icon_to_new(new_admin_automacao_grupo_automacao_grupo_acao_path(@automacao_grupo), action_new(@automacoes_grupo_acoes)) %>
</div>

<div class="center-align">
  <%= will_paginate @automacoes_grupo, renderer: MaterializePagination::Rails %>
</div>
