<% breadcrumb :automacao_grupo_condicao, @automacao_grupo_condicao %>
<div class="row">
  <h3><%= singular_model_name_for(AutomacaoGrupoCondicao) %></h3>
</div>

<div class="row">
  <b><%= AutomacaoGrupoCondicao.human_attribute_name(:id) %></b>
  <%= @automacao_grupo_condicao.id %>
</div>
<div class="row">
  <b><%= AutomacaoGrupoCondicao.human_attribute_name(:manual) %></b>
  <%= @automacao_grupo_condicao.manual %>
</div>
<div class="row">
  <b><%= AutomacaoGrupoCondicao.human_attribute_name(:timer) %></b>
  <%= @automacao_grupo_condicao.timer %>
</div>
<div class="row">
  <b><%= AutomacaoGrupoCondicao.human_attribute_name(:repeat) %></b>
  <%= @automacao_grupo_condicao.repeat %>
</div>
<div class="row">
  <b><%= AutomacaoGrupoCondicao.human_attribute_name(:turn_on) %></b>
  <%= @automacao_grupo_condicao.turn_on %>
</div>
<div class="row">
  <b><%= AutomacaoGrupoCondicao.human_attribute_name(:created_at) %></b>
  <%= ltime @automacao_grupo_condicao.created_at %>
</div>

<div class="row">
  <%= link_icon_to_back admin_automacao_grupo_automacoes_grupo_condicoes_path(@automacao_grupo) %>
  <%= link_icon_to_edit(edit_admin_automacao_grupo_condicao_path(@automacao_grupo_condicao))%>
</div>
