<%= simple_form_for([:admin, @comando_infra_vermelho], url: admin_comando_infra_vermelho_form_path(@componente, @comando_infra_vermelho)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :topico, wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class="row">
    <%= f.input :comando, wrapper_html: { class: 'm12 s12' }  %>
  </div>
  <div class="row">
    <%= f.input :html, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <% if @comando_infra_vermelho.persisted? %>
      <%= link_icon_to_back admin_comando_infra_vermelho_path(@comando_infra_vermelho) %>
    <% else %>
      <%= link_icon_to_back admin_componente_comandos_infra_vermelhos_path(@componente) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
