<% breadcrumb :comando_infra_vermelho, @comando_infra_vermelho %>
<div class="row">
  <h3><%= singular_model_name_for(ComandoInfraVermelho) %></h3>
</div>

<div class="row">
  <b><%= ComandoInfraVermelho.human_attribute_name(:id) %></b>
  <%= @comando_infra_vermelho.id %>
</div>
<div class="row">
  <b><%= ComandoInfraVermelho.human_attribute_name(:comando) %></b>
  <%= @comando_infra_vermelho.comando %>
</div>
<div class="row">
  <b><%= ComandoInfraVermelho.human_attribute_name(:codigo) %></b>
  <%= @comando_infra_vermelho.codigo %>
</div>

<div class="row">
  <%= link_icon_to_back admin_controle_comandos_infra_vermelhos_path(@controle) %>
  <%= link_icon_to_edit(edit_admin_comando_infra_vermelho_path(@comando_infra_vermelho))%>
</div>
