<%= simple_form_for([:admin, @token_notificacao_mobile], url: token_notificacao_mobile_form_path(@token_notificacao_mobile)) do |f| %>
  <%= f.error_notification %>
 
  <div class="row">
    <div class="row">
      <%= f.input :token, label: TokenNotification.human_attribute_name(:token), wrapper_html: { class: 'm12 s12' } %>
    </div>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_user_tokens_notificacao_mobile_path(@token_notificacao_mobile.user) %>
    <%= save_button %>
  </div>
<% end %>
