<%= simple_form_for([:admin, admin_usuario_form_path(@usuario)]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="row">
      <%= f.input :email, wrapper_html: { class: 'm12 s12' } %>
    </div>
    <div class="row">
      <%= f.input :admin, wrapper_html: { class: 'm12 s12' } %>
    </div>
  </div>
  
  <div class="row">
    <% if @usuario.persisted? %>
      <%= link_icon_to_back admin_grupo_usuario_path(@grupo, @usuario) %>
    <% else %>
      <%= link_icon_to_back admin_grupo_usuario_path(@grupo) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
