<%= simple_form_for([:admin, @usuario], url: admin_usuario_form_path(@grupo, @usuario)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class="row">
    <%= f.input :admin, as: :boolean, boolean_style: :inline %>
  </div>
  
  <div class="row">
    <% if @usuario.persisted? %>
      <%= link_icon_to_back admin_grupo_usuario_path(@grupo, @usuario) %>
    <% else %>
      <%= link_icon_to_back admin_grupo_usuarios_path(@grupo) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
