<% breadcrumb :usuarios, @grupo %>

<div class="row">
  <%= search_form_for @q, url: admin_grupo_usuarios_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :email_cont, class: "form-control", placeholder: "Pesquisar Usuários" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(Usuario) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= Usuario.human_attribute_name(:id) %></th>
          <th><%= Usuario.human_attribute_name(:email) %></th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr data-href="<%= admin_grupo_usuario_path(@grupo,usuario) %>">
            <td><%= usuario.id %></td>
            <td><%= usuario.email %></td>
            <td><%= ltime usuario.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_grupo_usuario_path(@grupo, usuario))%></td>
            <td><%= link_icon_to_destroy(admin_grupo_usuario_path(@grupo, usuario)) %></td>
            <td><%= link_to 'Remover do grupo', remover_admin_grupo_usuario_path(@grupo, usuario) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= link_icon_to_back admin_grupos_path %>
  <%= link_icon_to_new(new_admin_grupo_usuario_path(@grupo), action_new(@usuarios)) %>
</div>

<div class="center-align">
  <%= will_paginate @usuarios, renderer: MaterializePagination::Rails %>
</div>
