<% breadcrumb :user, group_user(@group,@user) %>
<div class="container-row">


  <div class="row">
    <b><%= User.human_attribute_name(:id) %></b>
    <%= @user.id %>
  </div>
  <div class="row">
    <b><%= User.human_attribute_name(:email) %></b>
    <%= @user.email %>
  </div>
  <div class="row">
    <b><%= User.human_attribute_name(:admin) %></b>
    <%= @user.admin %>
  </div>
  <div class="row">
    <b><%= User.human_attribute_name(:created_at) %></b>
    <%= ltime @user.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_group_users_path(@group) %>
    <%= link_no_icon_to_edit(edit_admin_group_user_path(@group, @user))%>
  </div>
</div>