<% breadcrumb :control_layouts %>

<div class="row">
  <%= search_form_for @q, url: admin_control_layouts_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :name_or_obs_cont, class: "form-control", placeholder: "Search Controls Layouts" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(ControlLayout) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= ControlLayout.human_attribute_name(:id) %></th>
          <th><%= ControlLayout.human_attribute_name(:name) %></th>
          <th><%= ControlLayout.human_attribute_name(:type_name) %></th>
          <th><%= ControlLayout.human_attribute_name(:active) %></th>
          <th><%= ControlLayout.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @control_layouts.each do |control_layout| %>

          <tr data-href="<%= admin_control_layout_path(control_layout) %>">
            <td><%= control_layout.id %></td>
            <td><%= control_layout.name %></td>
            <td><%= control_layout.type_name %></td>
            <td><%= control_layout.active %></td>
            <td><%= ltime control_layout.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_control_layout_path(control_layout))%></td>
            <td><%= link_icon_to_destroy(admin_control_layout_path(control_layout)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_home_admin_index_path %>
    <%= link_icon_to_new(new_admin_control_layout_path, action_new(@control_layouts)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @control_layouts_devices, renderer: MaterializePagination::Rails %>
</div>
