<% breadcrumb :group_automation_condition, @group_automation_condition %>

<div class="container-row">
  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:id) %></b>
    <%= @group_automation_condition.id %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:type_condition) %></b>
    <%= @group_automation_condition.type_condition %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:active) %></b>
    <%= @group_automation_condition.active %>
  </div>

  <b>Timer</b>
  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:repeat) %></b>
    <%= @group_automation_condition.repeat %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:turn_on) %></b>
    <%= @group_automation_condition.turn_on %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:schedule_cron) %></b>
    <%= @group_automation_condition.schedule_cron %>
  </div>

  <b>Device</b>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:room_device) %></b>
    <%= @group_automation_condition.room_device %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:control_command) %></b>
    <%= @group_automation_condition.control_command %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:value_set) %></b>
    <%= @group_automation_condition.value_set %>
  </div>

  <div class="row">
    <b><%= GroupAutomationCondition.human_attribute_name(:created_at) %></b>
    <%= ltime @group_automation_condition.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_group_automation_group_automation_conditions_path(@group_automation) %>
    <%= link_no_icon_to_edit(edit_admin_group_automation_condition_path(@group_automation_condition))%>
  </div>
</div>