<%= simple_form_for([:admin, @device_room], url: admin_device_room_form_path(@room_group, @device_room)) do |f| %>
<%= f.error_notification %>

<div class="row">
  <%= f.input :descricao, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.input :topico_info1, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :info1, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico_info2, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :info2, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico_info3, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :info3, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico_result, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :result, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico_state, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :state, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico_power, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :power, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico_online, wrapper_html: { class: 'm6 s6' } %>
  <%= f.input :onlline, wrapper_html: { class: 'm6 s6' } %>
</div>
<div class="row">
  <%= f.input :topico, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.input :identificador_device, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.association :control, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <% if @device_room.persisted? %>
    <%= link_icon_to_back admin_device_room_path(device_room) %>
  <% else %>
    <%= link_icon_to_back admin_room_group_devices_room_path(@room_group) %>
  <% end %>
  <%= save_button %>
</div>
<% end %>
