<% breadcrumb :devices_room, @room_group %>

<div class="row">
  <%= search_form_for @q, url: admin_room_group_devices_room_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :descricao_cont, class: "form-control", placeholder: "Search Devices" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(DeviceRoom) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= DeviceRoom.human_attribute_name(:id) %></th>
          <th><%= DeviceRoom.human_attribute_name(:descricao) %></th>
          <th><%= DeviceRoom.human_attribute_name(:topico) %></th>
          <th><%= DeviceRoom.human_attribute_name(:identificador_device) %></th>
          <th><%= DeviceRoom.human_attribute_name(:control) %></th>
          <th><%= DeviceRoom.human_attribute_name(:device) %></th>
          <th><%= DeviceRoom.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @devices_room.each do |device_room| %>
          <tr data-href="<%= admin_device_room_path(device_room) %>">
            <td><%= device_room.id %></td>
            <td><%= device_room.descricao %></td>
            <td><%= device_room.topico %></td>
            <td><%= device_room.identificador_device %></td>
            <td><%= device_room.control.descricao %></td>
            <td><%= device_room.control.device.descricao %></td>
            <td><%= ltime device_room.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_device_room_path(device_room))%></td>
            <td><%= link_icon_to_destroy(admin_device_room_path(device_room)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_group_rooms_group_path(@room_group.group) %>
    <%= link_icon_to_new(new_admin_room_group_device_room_path(@room_group), action_new(@devices_room)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @devices_room, renderer: MaterializePagination::Rails %>
</div>
