<% breadcrumb :componente_ambiente, @componente_ambiente %>
  <div class="row">
    <h3><%= singular_model_name_for(ComponenteAmbiente) %></h3>
  </div>

  <div class="row">
    <b><%= ComponenteAmbiente.human_attribute_name(:id) %></b>
    <%= @componente_ambiente.id %>
  </div>
  <div class="row">
    <b><%= ComponenteAmbiente.human_attribute_name(:descricao) %></b>
    <%= @componente_ambiente.descricao %>
  </div>
  <div class="row">
    <b><%= ComponenteAmbiente.human_attribute_name(:topico) %></b>
    <%= @componente_ambiente.topico %>
  </div>
  <div class="row">
    <b><%= ComponenteAmbiente.human_attribute_name(:identificador_componente_ambiente) %></b>
    <%= @componente_ambiente.identificador_componente %>
  </div>
  <div class="row">
    <b><%= ComponenteAmbiente.human_attribute_name(:componente) %></b>
    <%= @componente_ambiente.componente.descricao %>
  </div>
  <div class="row">
    <b><%= ComponenteAmbiente.human_attribute_name(:created_at) %></b>
    <%= ltime @componente_ambiente.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_ambiente_componentes_ambiente_path(@ambiente) %>
    <%= link_icon_to_edit(edit_admin_componente_ambiente_path(@componente_ambiente))%>
  </div>
