<% breadcrumb :device_room, @device_room %>

<div class="container-row">
  <div class="row">
    <b><%= DeviceRoom.human_attribute_name(:id) %></b>
    <%= @device_room.id %>
  </div>
  <div class="row">
    <b><%= DeviceRoom.human_attribute_name(:descricao) %></b>
    <%= @device_room.descricao %>
  </div>
  <div class="row">
    <b><%= DeviceRoom.human_attribute_name(:topico) %></b>
    <%= @device_room.topico %>
  </div>
  <div class="row">
    <b><%= DeviceRoom.human_attribute_name(:identificador_device_room) %></b>
    <%= @device_room.identificador_device %>
  </div>
  <div class="row">
    <b><%= DeviceRoom.human_attribute_name(:control) %></b>
    <%= @device_room.control.descricao %>
  </div>
  <div class="row">
    <b><%= DeviceRoom.human_attribute_name(:created_at) %></b>
    <%= ltime @device_room.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_room_group_devices_room_path(@room_group) %>
    <%= link_no_icon_to_edit(edit_admin_device_room_path(@device_room))%>
  </div>
</div>