<% breadcrumb :controles_componentes %>

<div class="row">
  <h3><%= plural_model_name_for(ControleComponente) %> </h3>
</div>

<div class="row">
  <%= search_form_for @q, url: admin_controles_componentes_path do |f| %>

    <div class="col s11">
      <%= f.search_field :descricao_or_obs_cont, class: "form-control", placeholder: "Pesquisar Controles de Compone" %>
    </div>
    <div class="col s1">
      <button class="waves-effect waves-light btn grey lighten-4" type="submit">
        <i class="large material-icons black-text">search</i>
      </button>
    </div>

  <% end %>
</div>


<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><%= ControleComponente.human_attribute_name(:id) %></th>
        <th><%= ControleComponente.human_attribute_name(:descricao) %></th>
        <th><%= ControleComponente.human_attribute_name(:obs) %></th>
        <th><%= ControleComponente.human_attribute_name(:created_at) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @controles_componentes.each do |controle_componente| %>

        <tr data-href="<%= admin_controle_componente_path(controle_componente) %>">
          <td><%= controle_componente.id %></td>
          <td><%= controle_componente.descricao %></td>
          <td><%= controle_componente.obs %></td>
          <td><%= ltime controle_componente.created_at %></td>
          <td><%= link_icon_to_edit(edit_admin_controle_componente_path(controle_componente))%></td>
          <td><%= link_icon_to_destroy(admin_controle_componente_path(controle_componente)) %></td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= link_icon_to_back admin_home_admin_index_path %>
  <%= link_icon_to_new(new_admin_controle_componente_path, action_new(@controles_componentes)) %>
</div>

<div class="center-align">
  <%= will_paginate @controles_componentes, renderer: MaterializePagination::Rails %>
</div>
