<% breadcrumb :controle_componente, @controle_componente %>

<div class="row">
  <h3><%= singular_model_name_for(ControleComponente) %></h3>
</div>
<div class="row">
  <b><%= ControleComponente.human_attribute_name(:id) %></b>
  <%= @controle_componente.id %>
</div>
<div class="row">
  <b><%= ControleComponente.human_attribute_name(:descricao) %></b>
  <%= @controle_componente.descricao %>
</div>
<div class="row">
  <b><%= ControleComponente.human_attribute_name(:obs) %></b>
  <%= @controle_componente.obs %>
</div>
<div class="row">
  <b><%= ControleComponente.human_attribute_name(:created_at) %></b>
  <%= ltime @controle_componente.created_at %>
</div>

<div class="row">
  <%= link_icon_to_back admin_controles_componentes_path %>
  <%= link_icon_to_edit(edit_admin_controle_componente_path(@controle_componente))%>
</div>
