<div class="container">
  <!-- Botão de Power -->
  <div class="row">
    <div class="col s12">
      <%= link_to '', class: 'z-depth-5 btn-floating btn-large grey lighten-3 publish-mqtt-infravermelho',
                      id: "comando-infra-vermelho-power",
                      data: {
                             componente_ambiente: componente_ambiente.id,
                             acao:                define_acao('power', componente_ambiente),
                             topico:              componente_ambiente.topico
                            } do %>

      <i class="large material-icons black-text" style="margin-top: 4px;">power_settings_new</i>

    <% end %>
  </div>
</div>


<div class="row">
  <!-- Botão de aumentar volume -->
  <div class="col s6">
    <%= link_to '', class: 'z-depth-5 btn-floating btn-large grey lighten-3 publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-volume-up",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('volume-up', componente_ambiente),
                           topico:              componente_ambiente.topico
                          } do %>
      <i class="large material-icons black-text" style="margin-top: 4px;">add</i>
    <% end %>
  </div>

<!-- Botão de aumentar canal -->
  <div class="col s6">
    <%= link_to '', class: 'z-depth-5 btn-floating btn-large grey lighten-3 publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-canal-up",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('canal-up', componente_ambiente),
                           topico:              componente_ambiente.topico
                          } do %>
      <i class="large material-icons black-text" style="margin-top: 4px;">arrow_drop_up</i>
    <% end %>
  </div>
</div>

<div class="row">
  <!-- Botão de diminuir volume -->
  <div class="col s6">
    <%= link_to '', class: 'z-depth-5 btn-floating btn-large grey lighten-3 publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-volume-down",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('volume-down', componente_ambiente),
                           topico:              componente_ambiente.topico
                       } do %>
      <i class="large material-icons black-text" style="margin-top: 4px;">remove</i>
    <% end %>
  </div>

  <!-- Botão de diminuit canal -->
  <div class="col s6">
    <%= link_to '', class: 'z-depth-5 btn-floating btn-large grey lighten-3 publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-canal-down",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('canal-down', componente_ambiente),
                           topico:              componente_ambiente.topico
                          } do %>
      <i class="large material-icons black-text" style="margin-top: 4px;">arrow_drop_down</i>
    <% end %>
  </div>
</div>


<div class="row">
  <!-- Botão de info -->
  <div class="col s3">
    <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-info",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('info', componente_ambiente),
                           topico:              componente_ambiente.topico
                       } do %>
      <i class="material-icons">announcement</i>
    <% end %>
  </div>

  <!-- Botão de apps -->
  <div class="col s3 offset-s6">
    <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-apps",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('apps', componente_ambiente),
                           topico:              componente_ambiente.topico
                      } do %>
      <i class="material-icons">apps</i>
    <% end %>
  </div>
</div>

<!-- Botão de flecha up -->
<div class="row">
  <div class="col s12">
    <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-arrow-up",
                    data: {
                      componente_ambiente: componente_ambiente.id,
                      acao:                define_acao('arrow-up', componente_ambiente),
                      topico:              componente_ambiente.topico
                       } do %>
      <i class="large material-icons">arrow_upward</i>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12 ">
  <!-- Botão de flecha left -->
    <div class="col s5 right-align">
      <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                      id: "comando-infra-vermelho-arrow-left",
                      data: {
                             componente_ambiente: componente_ambiente.id,
                             acao:                define_acao('arrow-left', componente_ambiente),
                             topico:              componente_ambiente.topico
                         } do %>
        <i class="large material-icons">arrow_back</i>
      <% end %>
    </div>

    <!-- Botão de okey -->
    <div class="col s2">
      <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                      id: "comando-infra-vermelho-ok",
                      data: {
                             componente_ambiente: componente_ambiente.id,
                             acao:                define_acao('ok', componente_ambiente),
                             topico:              componente_ambiente.topico
                        } do %>
        <i class="large material-icons">check</i>
      <% end %>
    </div>

    <!-- Botão de flecha right -->
    <div class="col s2 left-align">
      <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                      id: "comando-infra-vermelho-arrow-right",
                      data: {
                             componente_ambiente: componente_ambiente.id,
                             acao:                define_acao('arrow-right', componente_ambiente),
                             topico:              componente_ambiente.topico
                        } do %>
        <i class="large material-icons">arrow_forward</i>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <!-- Botão de -->
  <div class="col s4">
    <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-volume-down",
                    data: {
                           componente_ambiente: componente_ambiente.id,
                           acao:                define_acao('arrow-right', componente_ambiente),
                           topico:              componente_ambiente.topico
                       } do %>
      <i class="large material-icons">exit_to_app</i>
    <% end %>
  </div>

<!-- Botão de flecha down -->
  <div class="col s4">
    <%= link_to '', class: 'z-depth-5 btn-floating btn waves-effect waves-light grey publish-mqtt-infravermelho',
                    id: "comando-infra-vermelho-arrow-down",
                    data: {
                      componente_ambiente: componente_ambiente.id,
                      acao:                define_acao('arrow-down', componente_ambiente),
                      topico:              componente_ambiente.topico
                        } do %>
      <i class="large material-icons">arrow_downward</i>
    <% end %>
  </div>

</div>
