<div class="z-depth-5 white-text card-componente grey darken-4">
  <div class="col s12 center-align" style="margin-top:2px;">
    <b><%= componente.descricao %></b>
    <a class="modal-trigger" href="#modal1"><i class="small material-icons yellow-text secondary-content">color_lens</i></a>
  </div>

  <div class="col s4  offset-s1">
    <div class="switch">
      <label>
        Off
        <% if componente.estado %>
          <input type="checkbox" id="switch-mode" data-comp="<%=componente.id%>" data-topico="<%=componente.topico%>" checked>
        <% else %>
          <input type="checkbox" id="switch-mode" data-comp="<%=componente.id%>" data-topico="<%=componente.topico%>" unchecked>
        <% end %>
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
  <div class="col s6">
    <input type="range" id="test5" min="0" max="100" />
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Selecione a cor</h4>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
