<ul class="collection with-header">
  <li class="collection-header grey lighten-4">
    <h5>
      <b>Componentes</b>
    </h5>
  </li>

  <% @componentes.each do |componente| %>
    <li class="collection-item">
      <b><%= componente.descricao %></b>
      <div class="switch secondary-content">
        <label>
          Off
          <% if componente.estado %>
            <input type="checkbox" id="switch-mode" data-comp="<%=componente.id%>" data-topico="<%=componente.topico%>" checked>
          <% else %>
            <input type="checkbox" id="switch-mode" data-comp="<%=componente.id%>" data-topico="<%=componente.topico%>" unchecked>
          <% end %>
          <span class="lever"></span>
          On
        </label>
      </div>
    </li>
  <% end %>
</ul>
