<% breadcrumb :controle, @controle %>

<div class="container-row">
  <div class="row">
    <b><%= Controle.human_attribute_name(:id) %></b>
    <%= @controle.id %>
  </div>
  <div class="row">
    <b><%= Controle.human_attribute_name(:descricao) %></b>
    <%= @controle.descricao %>
  </div>
  <div class="row">
    <b><%= Controle.human_attribute_name(:obs) %></b>
    <%= @controle.obs %>
  </div>
  <div class="row">
    <b><%= Controle.human_attribute_name(:fabricante) %></b>
    <%= @controle.fabricante %>
  </div>
  <div class="row">
    <b><%= Componente.human_attribute_name(:componente) %></b>
    <%= @controle.componente.descricao %>
  </div>
  <div class="row">
    <b><%= Componente.human_attribute_name(:layout_controle) %></b>
    <%= @controle.layout_controle.descricao %>
  </div>
  <div class="row">
    <b><%= Controle.human_attribute_name(:created_at) %></b>
    <%= ltime @controle.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_controles_path %>
    <%= link_no_icon_to_edit(edit_admin_controle_path(@controle))%>
  </div>
</div>
