<%= simple_form_for([:admin, @componente_propriedade], url: admin_componente_propriedade_form_path(@componente, @componente_propriedade)) do |f| %>
<%= f.error_notification %>

<div class="row">
  <%= f.input :descricao, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.input :id_propriedade, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <% if @componente_propriedade.persisted? %>
    <%= link_icon_to_back admin_componente_propriedade_path(componente_propriedade) %>
  <% else %>
    <%= link_icon_to_back admin_componentes_path(@componente) %>
  <% end %>
  <%= save_button %>
</div>
<% end %>
