<%= simple_form_for([:admin, @room_group], url: admin_room_group_form_path(@group, @room_group)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :nome, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <%= f.input :icone, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <%= f.association :room, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <%= f.input :visivel, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <% if @room_group.persisted? %>
      <%= link_icon_to_back admin_room_group_path(@room_group) %>
    <% else %>
      <%= link_icon_to_back admin_group_rooms_group_path(@group) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
