<% breadcrumb :ambientes_grupo, @grupo %>
  <div class="row">
    <h3><%= plural_model_name_for(AmbienteGrupo) %>
      <%= singular_model_name_for(Grupo) %></h3>
  </div>

  <div class="row">
    <%= search_form_for @q, url: admin_grupo_ambientes_grupo_path do |f| %>

    <div class="col s11">
      <%= f.search_field :nome_cont, class: "form-control", placeholder: "Pesquisar Ambientes" %>
    </div>
    <div class="col s1">
      <button class="waves-effect waves-light btn grey lighten-4" type="submit">
        <i class="large material-icons black-text">search</i>
      </button>
    </div>

  <% end %>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><%= AmbienteGrupo.human_attribute_name(:id) %></th>
        <th><%= AmbienteGrupo.human_attribute_name(:nome) %></th>
        <th><%= AmbienteGrupo.human_attribute_name(:visivel) %></th>
        <th><%= AmbienteGrupo.human_attribute_name(:created_at) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @ambientes_grupo.each do |ambiente_grupo| %>
        <tr data-href="<%= admin_ambiente_grupo_path(ambiente_grupo) %>">
          <td><%= ambiente_grupo.id %></td>
          <td><%= ambiente_grupo.nome %></td>
          <td><%= ambiente_grupo.visivel %></td>
          <td><%= ltime ambiente_grupo.created_at %></td>
          <td><%= link_icon_to_edit(edit_admin_ambiente_grupo_path(ambiente_grupo))%></td>
          <td><%= link_icon_to_destroy(admin_ambiente_grupo_path(ambiente_grupo)) %></td>
          <td><%= link_to 'Componentes', admin_ambiente_grupo_componentes_ambiente_path(ambiente_grupo), class: "waves-effect waves-light btn grey lighten-4 black-text" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= link_icon_to_back admin_grupos_path %>
  <%= link_icon_to_new(new_admin_grupo_ambiente_grupo_path(@grupo), action_new(@ambientes_grupo)) %>
</div>

<div class="center-align">
  <%= will_paginate @ambientes_grupo, renderer: MaterializePagination::Rails %>
</div>
