<% breadcrumb :room_group, @room_group %>

<div class="container-row">
  <div class="row">
    <b><%= RoomGroup.human_attribute_name(:id) %></b>
    <%= @room_group.id %>
  </div>
  <div class="row">
    <b><%= RoomGroup.human_attribute_name(:nome) %></b>
    <%= @room_group.nome %>
  </div>
  <div class="row">
    <b><%= RoomGroup.human_attribute_name(:icone) %></b>
    <%= @room_group.icone %>
  </div>
  <div class="row">
    <b><%= RoomGroup.human_attribute_name(:created_at) %></b>
    <%= ltime @room_group.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_group_rooms_group_path(@group) %>
    <%= link_no_icon_to_edit(edit_admin_room_group_path(@room_group))%>
  </div>
</div>