<% breadcrumb :ambiente_grupo, @ambiente_grupo %>
<div class="row">
  <h3><%= singular_model_name_for(AmbienteGrupo) %></h3>
</div>

<div class="row">
  <b><%= AmbienteGrupo.human_attribute_name(:id) %></b>
  <%= @ambiente_grupo.id %>
</div>
<div class="row">
  <b><%= AmbienteGrupo.human_attribute_name(:nome) %></b>
  <%= @ambiente_grupo.nome %>
</div>
<div class="row">
  <b><%= AmbienteGrupo.human_attribute_name(:icone) %></b>
  <%= @ambiente_grupo.icone %>
</div>
<div class="row">
  <b><%= AmbienteGrupo.human_attribute_name(:created_at) %></b>
  <%= ltime @ambiente_grupo.created_at %>
</div>

<div class="row">
  <%= link_icon_to_back admin_grupo_ambientes_grupo_path(@grupo) %>
  <%= link_icon_to_edit(edit_admin_ambiente_grupo_path(@ambiente_grupo))%>
</div>
