<%= simple_form_for([:admin, @control_comando], url: admin_control_comando_form_path(@control, @control_comando)) do |f| %>
<%= f.error_notification %>
<div class="row">
  <%= f.input :comando, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.input :codigo, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <% if @control_comando.persisted? %>
    <%= link_icon_to_back admin_control_comando_path(@control_comando) %>
  <% else %>
    <%= link_icon_to_back admin_control_control_comandos_path(@control) %>
  <% end %>
  <%= save_button %>
</div>
<% end %>
