<% breadcrumb :control_comandos, @control %>

<div class="row">
  <%= search_form_for @q, url: admin_control_control_comandos_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :comando_cont, class: "form-control", placeholder: "Search Commands" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(ControlComando) %></b>
  <div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><%= ControlComando.human_attribute_name(:id) %></th>
        <th><%= ControlComando.human_attribute_name(:comando) %></th>
        <th><%= ControlComando.human_attribute_name(:codigo) %></th>
        <th><%= ControlComando.human_attribute_name(:created_at) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @control_comandos.each do |control_comando| %>
        <tr data-href="<%= admin_control_comando_path(control_comando) %>">
          <td><%= control_comando.id %></td>
          <td><%= control_comando.comando %></td>
          <td><%= control_comando.codigo %></td>
          <td><%= control_comando.created_at %></td>
          <td><%= link_icon_to_edit(edit_admin_control_comando_path(control_comando)) %></td>
          <td><%= link_icon_to_destroy(admin_control_comando_path(control_comando)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="row">
  <%= link_icon_to_back admin_controls_path %>
  <%= link_icon_to_new(new_admin_control_control_comando_path(@control), action_new(@control_comandos)) %>
  </div>
</div>

<div class="center-align">
<%= will_paginate @control_comandos, renderer: MaterializePagination::Rails %>
</div>
