<% breadcrumb :control_comando, @control_comando %>

<div class="container-row">

  <div class="row">
    <b><%= ControlComando.human_attribute_name(:id) %></b>
    <%= @control_comando.id %>
  </div>
  <div class="row">
    <b><%= ControlComando.human_attribute_name(:comando) %></b>
    <%= @control_comando.comando %>
  </div>
  <div class="row">
    <b><%= ControlComando.human_attribute_name(:codigo) %></b>
    <%= @control_comando.codigo %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_control_control_comandos_path(@control) %>
    <%= link_no_icon_to_edit(edit_admin_control_comando_path(@control_comando))%>
  </div>
</div>