<% breadcrumb :automacoes_group_acoes, @automacao_group %>

<div class="row">
  <%= search_form_for @q, url: admin_automacao_group_automacoes_group_acoes_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :tipo_acao_cont, class: "form-control", placeholder: "Search Actions" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(AutomacaoGroupAcao) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= AutomacaoGroupAcao.human_attribute_name(:id) %></th>
          <th><%= AutomacaoGroupAcao.human_attribute_name(:tipo_acao) %></th>
          <th><%= AutomacaoGroupAcao.human_attribute_name(:delay_time) %></th>
          <th><%= AutomacaoGroupAcao.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @automacoes_group_acoes.each do |automacao_group_acao| %>
          <tr data-href="<%= admin_automacao_group_acao_path(automacao_group_acao) %>">
            <td><%= automacao_group_acao.id %></td>
            <td><%= automacao_group_acao.tipo_acao %></td>
            <td><%= automacao_group_acao.delay_time %></td>
            <td><%= ltime automacao_group_acao.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_automacao_group_acao_path(automacao_group_acao))%></td>
            <td><%= link_icon_to_destroy(admin_automacao_group_acao_path(automacao_group_acao)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_group_automacoes_group_path(@automacao_group.group) %>
    <%= link_icon_to_new(new_admin_automacao_group_automacao_group_acao_path(@automacao_group), action_new(@automacoes_group_acoes)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @automacoes_group, renderer: MaterializePagination::Rails %>
</div>
