<% breadcrumb :automacao_group_acao, @automacao_group_acao %>

<div class="container-row">
  <div class="row">
    <b><%= UserAutomationCondition.human_attribute_name(:id) %></b>
    <%= @automacao_group_acao.id %>
  </div>
  <div class="row">
    <b><%= UserAutomationCondition.human_attribute_name(:tipo_acao) %></b>
    <%= @automacao_group_acao.tipo_acao %>
  </div>
  <div class="row">
    <b><%= UserAutomationCondition.human_attribute_name(:delay_time) %></b>
    <%= @automacao_group_acao.delay_time %>
  </div>
  <div class="row">
    <b><%= UserAutomationCondition.human_attribute_name(:created_at) %></b>
    <%= ltime @automacao_group_acao.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_automacao_group_automacoes_group_acoes_path(@automacao_group) %>
    <%= link_no_icon_to_edit(edit_admin_automacao_group_acao_path(@automacao_group_acao))%>
  </div>
</div>