<div id="automacoes_group_condicoes_form">
<%= simple_form_for([:admin, @automacao_group_condicao], url: admin_automacao_group_condicao_form_path(@automacao_group, @automacao_group_condicao), input_html: { class: 'form_automacao_group_condicao',  multipart: true }) do |f| %>

  <%= f.error_notification %>

  <div class="repeat-data-content">
    <%= @automacao_group_condicao.repeat %>
  </div>

  <div class="row">
    <%= f.input :tipo_condicao,
      wrapper_html: { class: 'm12 s12', id: 'tipo-condicao-select' },
      collection: tipo_condicao_keys %>
  </div>

  <div class="row">
    <%= f.input :repeat,
      wrapper_html: { class: 'm12 s12 repeat-select' },
      input_html: { multiple: true },
      collection: [['Once', 'once'],
                    ['Every Day', 'every_day'],
                    ['Weekdays', 'weekdays'],
                    ['Weekends', 'weekends'],
                    ['Sunday', 'sunday'],
                    ['Monday', 'monday'],
                    ['Tuesday', 'tuesday'],
                    ['Wednesday', 'wednesday'],
                    ['Thursday', 'thursday'],
                    ['Friday', 'friday'],
                    ['Saturday', 'saturday']] %>
  </div>

  <div class="row">
    <%= f.input :turn_on, wrapper_html: { class: 'm12 s12 turn-on-select' } %>
  </div>

  <div class="row input-device-room" data-group-id="<%= @automacao_group.group.id %>">
    <%= f.association :device_room, collection: devices_rooms(@automacao_group.group.rooms_group), wrapper_html: { class: 'm12 s12 device-condicao-select', id: "device-room-select" } %>
  </div>

  <div class="row device-propriedade">
    <%= f.association :control_comando, collection: control_comandos, wrapper_html: { class: 'm12 s12 device-propriedade-select' } %>
  </div>

  <div class="row">
    <%= f.input :value_set, wrapper_html: { class: 'm12 s12 value-set-select' } %>
  </div>

  <div class="row">
    <% if @automacao_group_condicao.persisted? %>
      <%= link_icon_to_back admin_automacao_group_condicao_path(@automacao_group_condicao) %>
    <% else %>
      <%= link_icon_to_back admin_automacao_group_automacoes_group_condicoes_path(@automacao_group) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
</div>
