<div id="automacoes_grupo_condicoes_form">
<%= simple_form_for([:admin, @automacao_grupo_condicao], url: admin_automacao_grupo_condicao_form_path(@automacao_grupo, @automacao_grupo_condicao), input_html: { class: 'form_automacao_grupo_condicao',  multipart: true }) do |f| %>

  <%= f.error_notification %>

  <div class="repeat-data">
    <%= @automacao_grupo_condicao.repeat %>
    <input type="hidden" name="campanha_doador_id" value="<%=@automacao_grupo_condicao.repeat %>" readonly="true"/>
  </div>

  <div class="row">
    <%= f.input :tipo_condicao,
      wrapper_html: { class: 'm12 s12', id: 'tipo-condicao-select' },
      collection: tipo_condicao_keys %>
  </div>

  <div class="row">
    <%= f.input :repeat,
      wrapper_html: { class: 'm12 s12 repeat-select' },
      input_html: { multiple: true },
      collection: [['Once', 'once'],
                    ['Every Day', 'every_day'],
                    ['Weekdays', 'weekdays'],
                    ['Weekends', 'weekends'],
                    ['Sunday', 'sunday'],
                    ['Monday', 'monday'],
                    ['Tuesday', 'tuesday'],
                    ['Wednesday', 'wednesday'],
                    ['Thursday', 'thursday'],
                    ['Friday', 'friday'],
                    ['Saturday', 'saturday']] %>
  </div>

  <div class="row">
    <%= f.input :turn_on, wrapper_html: { class: 'm12 s12 turn-on-select' } %>
  </div>

  <div class="row input-componente-ambiente" data-grupo-id="<%= @automacao_grupo.grupo.id %>">
    <%= f.association :componente_ambiente, collection: componentes_ambientes(@automacao_grupo.grupo.ambientes_grupo), wrapper_html: { class: 'm12 s12 componente-condicao-select', id: "componente-ambiente-select" } %>
  </div>

  <div class="row componente-propriedade">
    <%= f.association :componente_propriedade, collection: componentes_propriedades, wrapper_html: { class: 'm12 s12 componente-propriedade-select' } %>
  </div>

  <div class="row">
    <%= f.input :value_set, wrapper_html: { class: 'm12 s12 value-set-select' } %>
  </div>

  <div class="row">
    <% if @automacao_grupo_condicao.persisted? %>
      <%= link_icon_to_back admin_automacao_grupo_condicao_path(@automacao_grupo_condicao) %>
    <% else %>
      <%= link_icon_to_back admin_grupo_automacoes_grupo_path(@automacao_grupo) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
</div>
