<% breadcrumb :automacoes_grupo_condicoes, @automacao_grupo %>

<div class="row">
  <%= search_form_for @q, url: admin_automacao_grupo_automacoes_grupo_condicoes_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :tipo_condicao_cont, class: "form-control", placeholder: "Search Conditions" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(AutomacaoGrupoCondicao) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= AutomacaoGrupoCondicao.human_attribute_name(:id) %></th>
          <th><%= AutomacaoGrupoCondicao.human_attribute_name(:tipo_condicao) %></th>
          <th><%= AutomacaoGrupoCondicao.human_attribute_name(:value_set) %></th>
          <th><%= AutomacaoGrupoCondicao.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @automacoes_grupo_condicoes.each do |automacao_grupo_condicao| %>
          <tr data-href="<%= admin_automacao_grupo_condicao_path(automacao_grupo_condicao) %>">
            <td><%= automacao_grupo_condicao.id %></td>
            <td><%= automacao_grupo_condicao.tipo_condicao %></td>
            <td><%= automacao_grupo_condicao.value_set %></td>
            <td><%= ltime automacao_grupo_condicao.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_automacao_grupo_condicao_path(automacao_grupo_condicao))%></td>
            <td><%= link_icon_to_destroy(admin_automacao_grupo_condicao_path(automacao_grupo_condicao)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_grupo_automacoes_grupo_path(@automacao_grupo.grupo) %>
    <%= link_icon_to_new(new_admin_automacao_grupo_automacao_grupo_condicao_path(@automacao_grupo), action_new(@automacoes_grupo_condicoes)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @automacoes_grupo, renderer: MaterializePagination::Rails %>
</div>
