<% breadcrumb :ambientes %>

<div class="row">
  <%= search_form_for @q, url: admin_ambientes_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :descricao_cont, class: "form-control", placeholder: "Pesquisar Ambientes" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(Ambiente) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= Ambiente.human_attribute_name(:id) %></th>
          <th><%= Ambiente.human_attribute_name(:descricao) %></th>
          <th><%= Ambiente.human_attribute_name(:icone) %></th>
          <th><%= Ambiente.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @ambientes.each do |ambiente| %>
          <tr data-href="<%= admin_ambiente_path(ambiente) %>">
            <td><%= ambiente.id %></td>
            <td><%= ambiente.descricao %></td>
            <td><%= ambiente.icone %></td>
            <td><%= ltime ambiente.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_ambiente_path(ambiente))%></td>
            <td><%= link_icon_to_destroy(admin_ambiente_path(ambiente)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_home_admin_index_path %>
    <%= link_icon_to_new(new_admin_ambiente_path, action_new(@ambientes)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @ambientes, renderer: MaterializePagination::Rails %>
</div>
