<% breadcrumb :ambiente, @ambiente %>
<div class="row">
  <h3><%= singular_model_name_for(Ambiente) %></h3>
</div>

<div class="row">
  <b><%= Ambiente.human_attribute_name(:id) %></b>
  <%= @ambiente.id %>
</div>
<div class="row">
  <b><%= Ambiente.human_attribute_name(:descricao) %></b>
  <%= @ambiente.descricao %>
</div>
<div class="row">
  <b><%= Ambiente.human_attribute_name(:icone) %></b>
  <%= @ambiente.icone %>
</div>
<div class="row">
  <b><%= Ambiente.human_attribute_name(:url_icone) %></b>
  <%= @ambiente.url_icone %>
</div>
<div class="row">
  <b><%= Ambiente.human_attribute_name(:obs) %></b>
  <%= @ambiente.obs %>
</div>
<div class="row">
  <b><%= Ambiente.human_attribute_name(:created_at) %></b>
  <%= ltime @ambiente.created_at %>
</div>

<div class="row">
  <%= link_icon_to_back admin_ambientes_path %>
  <%= link_icon_to_edit(edit_admin_ambiente_path(@ambiente))%>
</div>
