<div class="z-depth-5 white-text card-componente grey darken-4">
  <div class="col s12 center-align" style="margin-top:2px;">
    <b><%= componente.descricao %></b>
  </div>
  <div class="center-align">
    <div class="switch">
      <label style="font-size:9px;">
        Fechar
        <% if componente.estado %>
          <input type="checkbox" id="switch-<%= componente.descricao %><%= componente.id %>" class="botao-infra-vermelho" data-componente="<%=componente.id%>" data-topico="<%=componente.topico%>" checked>
        <% else %>
          <input type="checkbox" id="switch-<%= componente.descricao %><%= componente.id %>" class="botao-infra-vermelho" data-componente="<%=componente.id%>" data-topico="<%=componente.topico%>" unchecked>
        <% end %>
        <span class="lever"></span>
        Abrir
      </label>
    </div>
  </div>
</div>
