<div class="componente luz">
  <div class="z-depth-5 white-text card-componente grey darken-4">
    <div class="col s12 center-align" style="margin-top:2px;">
      <b><%= componente.descricao %></b>
    </div>

    <div class="col m1 s3 center-align modal-trigger" href="#modal1">
      <a class="modal-trigger" href="#modal1">
        <i class="small material-icons yellow-text secondary-content">color_lens</i>
      </a>
    </div>

    <div class="col m4 s8 offset-s1 center-align">
      <div class="switch">
        <label style="font-size:9px;">
          Off
          <% if componente.estado %>
            <input type="checkbox" id="switch-<%= componente.descricao %><%= componente.id %>" class="botao-infra-vermelho" data-componente="<%=componente.id%>" data-topico="<%=componente.topico%>" checked="checked">
          <% else %>
            <input type="checkbox" id="switch-<%= componente.descricao %><%= componente.id %>" class="botao-infra-vermelho" data-componente="<%=componente.id%>" data-topico="<%=componente.topico%>" unchecked="unchecked">
          <% end %>
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>

    <div class="col m6 s10 offset-s1 center-align">
      <input type="range" id="test5" min="0" max="100"/>
    </div>

  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet" style="height: 600px;">
    <div class="modal-content" style="width: 100%">
      <div class="col s4">
        <div class="red darken-1 card-color" id="comando-infra-vermelho-red-darken" data-componente="<%=componente.id%>" data-topico='augusto.albertoni@gmail.com/room/lights' data-acao="red"></div>
      </div>
      <div class="col s4">
        <div class="light-green darken-2 card-color" id="comando-infra-vermelho-green-light" data-componente="<%=componente.id%>" data-topico='augusto.albertoni@gmail.com/room/lights' data-acao="green"></div>
      </div>
      <div class="col s4">
        <div class=" light-blue darken-4 card-color" id="comando-infra-vermelho-blue-light" data-componente="<%=componente.id%>" data-topico='augusto.albertoni@gmail.com/room/lights' data-acao="blue"></div>
      </div>
      <div class="col s4">
        <div class=" orange darken-3 card-color"></div>
      </div>
      <div class="col s4 card-color">
        <div class="light-green card-color"></div>
      </div>
      <div class="col s4 card-color">
        <div class="blue darken-4 card-color"></div>
      </div>
      <div class="col s4">
        <div class=" red accent-4 card-color"></div>
      </div>
      <div class="col s4">
        <div class="orange card-color"></div>
      </div>
      <div class="col s4">
        <div class="light-blue card-color"></div>
      </div>
      <div class="col s4">
        <div class=" pink card-color"></div>
      </div>
      <div class="col s4">
        <div class="yellow card-color"></div>
      </div>
      <div class="col s4">
        <div class="grey lighten-4 card-color"></div>
      </div>
    </div>
  </div>
</div>
