<div class="componente_ambiente luz">
  <div class="z-depth-5 white-text card-componente grey darken-4">
    <div class="col s12 center-align" style="margin-top:2px;">
      <b><%= componente_ambiente.descricao %></b>
    </div>


    <div class="col s12 center-align">
      <div class="switch">
        <label style="font-size:9px;">
          Off
          <% if componente_ambiente.estado %>
            <input type="checkbox" id="switch-<%= componente_ambiente.descricao %><%= componente_ambiente.id %>" class="botao-infra-vermelho" data-componente-ambiente="<%=componente_ambiente.id%>" data-topico="<%=componente_ambiente.topico%>" checked="checked">
          <% else %>
            <input type="checkbox" id="switch-<%= componente_ambiente.descricao %><%= componente_ambiente.id %>" class="botao-infra-vermelho" data-componente-ambiente="<%=componente_ambiente.id%>" data-topico="<%=componente_ambiente.topico%>" unchecked="unchecked">
          <% end %>
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
  </div>
</div>
