<div "device-<%= room_device.id %>" class="room_device luz">
  <div class="z-depth-5 white-text card-device grey darken-4 valign-wrapper">
    <div class="col s12 center-align" style="margin-top:2px;">
      <b><%= room_device.name %></b>
    </div>

    <div class="col s12 center-align">
      <div class="switch">
        <label style="font-size:9px;">
          Off
          <% if room_device.estado %>
            <input type="checkbox" id="switch-<%= room_device.name %><%= room_device.id %>" class="device-room-publish" data-device-room="<%=room_device.id%>" checked="checked">
          <% else %>
            <input type="checkbox" id="switch-<%= room_device.name %><%= room_device.id %>" class="device-room-publish" data-device-room="<%=room_device.id%>" unchecked="unchecked">
          <% end %>
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
  </div>
</div>
