<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Topico:</strong>
  <%= @device.topico %>
</p>

<p>
  <strong>Room:</strong>
  <%= @device.room_id %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
