<%= simple_form_for([:admin, @device]) do |f| %>
<%= f.error_notification %>

<div class="row">
  <%= f.input :name, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <%= f.input :model, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <%= f.input :url_icon, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <%= f.input :active, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <% if @device.persisted? %>
    <%= link_icon_to_back admin_device_path(device) %>
  <% else %>
    <%= link_icon_to_back admin_devices_path %>
  <% end %>
  <%= save_button %>
</div>
<% end %>
