<% breadcrumb :devices %>

<div class="row">
  <%= search_form_for @q, url: admin_devices_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :name_cont, class: "form-control", placeholder: "Search Devices" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(Device) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= Device.human_attribute_name(:id) %></th>
          <th><%= Device.human_attribute_name(:name) %></th>
          <th><%= Device.human_attribute_name(:model) %></th>
          <th><%= Device.human_attribute_name(:active) %></th>
          <th><%= Device.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @devices.each do |device| %>
          <tr data-href="<%= admin_device_path(device) %>">
            <td><%= device.id %></td>
            <td><%= device.name %></td>
            <td><%= device.model %></td>
            <td><%= device.active %></td>
            <td><%= ltime device.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_device_path(device))%></td>
            <td><%= link_icon_to_destroy(admin_device_path(device)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back root_path %>
    <%= link_icon_to_new(new_admin_device_path, action_new(@devices)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @devices, renderer: MaterializePagination::Rails %>
</div>
