<%= simple_form_for([:admin, @componente], url: admin_componente_form_path(@ambiente, @componente)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :descricao, wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class="row">
    <%= f.association :controle_componente, wrapper_html: { class: 'm12 s12' }  %>
  </div>
  <div class="row">
    <%= f.input :topico, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <% if @componente.persisted? %>
      <%= link_icon_to_back admin_grupo_ambiente_componente_path(@ambiente.grupo, @ambiente, componente) %>
    <% else %>
      <%= link_icon_to_back admin_grupo_ambiente_componentes_path(@ambiente.grupo, @ambiente) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
