<% breadcrumb :componente, @componente %>
<div class="container-row">
  <div class="row">
    <b><%= Componente.human_attribute_name(:id) %></b>
    <%= @componente.id %>
  </div>
  <div class="row">
    <b><%= Componente.human_attribute_name(:descricao) %></b>
    <%= @componente.descricao %>
  </div>
  <div class="row">
    <b><%= Componente.human_attribute_name(:url_icone) %></b>
    <%= @componente.url_icone %>
  </div>
  <div class="row">
    <b><%= Componente.human_attribute_name(:modelo) %></b>
    <%= @componente.modelo %>
  </div>
  <div class="row">
    <b><%= Componente.human_attribute_name(:created_at) %></b>
    <%= ltime @componente.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_componentes_path %>
    <%= link_no_icon_to_edit(edit_admin_componente_path(@componente))%>
  </div>
</div>