<%= simple_form_for([:admin, @automacao_group], url: admin_automacao_group_form_path(@group, @automacao_group)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :name, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <%= f.input :operador_condicao, wrapper_html: { class: 'm12 s12' }, collection: [['And', 'and'], ['Or', 'ou']] %>
  </div>

  <div class="row">
    <%= f.input :ativo, wrapper_html: { class: 'm12 s12' } %>
  </div>

  <div class="row">
    <% if @automacao_group.persisted? %>
      <%= link_icon_to_back admin_automacao_group_path(@automacao_group) %>
    <% else %>
      <%= link_icon_to_back admin_group_automacoes_group_path(@group) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
