<% breadcrumb :automacoes_grupo, @grupo %>

<div class="row">
  <%= search_form_for @q, url: admin_grupo_automacoes_grupo_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :descricao_cont, class: "form-control", placeholder: "Search Automations" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(AutomacaoGrupo) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= AutomacaoGrupo.human_attribute_name(:id) %></th>
          <th><%= AutomacaoGrupo.human_attribute_name(:descricao) %></th>
          <th><%= AutomacaoGrupo.human_attribute_name(:ativo) %></th>
          <th><%= AutomacaoGrupo.human_attribute_name(:operador_condicao) %></th>
          <th><%= AutomacaoGrupo.human_attribute_name(:created_at) %></th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @automacoes_grupo.each do |automacao_grupo| %>
          <tr data-href="<%= admin_automacao_grupo_path(automacao_grupo) %>">
            <td><%= automacao_grupo.id %></td>
            <td><%= automacao_grupo.descricao %></td>
            <td><%= automacao_grupo.ativo %></td>
            <td><%= automacao_grupo.operador_condicao %></td>
            <td><%= ltime automacao_grupo.created_at %></td>
            <td><%= link_to 'Condições', admin_automacao_grupo_automacoes_grupo_condicoes_path(automacao_grupo) %></td>
            <td><%= link_to 'Ações', admin_automacao_grupo_automacoes_grupo_acoes_path(automacao_grupo) %></td>
            <td><%= link_icon_to_edit(edit_admin_automacao_grupo_path(automacao_grupo))%></td>
            <td><%= link_icon_to_destroy(admin_automacao_grupo_path(automacao_grupo)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_grupos_path %>
    <%= link_icon_to_new(new_admin_grupo_automacao_grupo_path(@grupo), action_new(@automacoes_grupo)) %>
  </div>
</div>

<div class="center-align">
  <%= will_paginate @automacoes_grupo, renderer: MaterializePagination::Rails %>
</div>
