<div class="container">
  <div class="row">
  	<h3><%= action_edit(@usuario) %> <%= singular_model_name_for(Usuario) %></h3>
  </div>
  <%= simple_form_for(@usuario, url: usuario_form_path(@grupo)) do |f| %>

    <%= f.hidden_field :grupo_id, value: params[:grupo_id] %>
    <div class="row">
      <%= f.input :email, wrapper_html: { class: 'm12 s12' } %>
    </div>
    <div class="row">
      <%= f.input :admin, as: :boolean, boolean_style: :inline, wrapper_html: {class:"i-checks m12 s12"} %>
    </div>
    <%= link_icon_to_back grupo_usuarios_path(grupo_id: params[:grupo_id]) %>
    <%= save_button %>
  <% end %>
</div>
