<%= simple_form_for(@usuario, url: usuario_form_path(@grupo)) do |f| %>
  <div class="container">
    <%= f.hidden_field :grupo_id, value: params[:grupo_id] %>
    <div class="row">
      <%= f.input :email, input_html: { class: 'form-control'} %>
    </div>
    <div class="row">
      <%= f.input :admin, as: :boolean, boolean_style: :inline, input_html: {class:"i-checks"} %>
    </div>
    <%= link_icon_to_back grupo_usuarios_path(grupo_id: params[:grupo_id]) %>
    <%= save_button %>
  </div>
<% end %>
