<div class="container">
  <div class="row">
  	<h3><%= action_new(@user) %> <%= singular_model_name_for(User) %></h3>
  </div>

  <%= simple_form_for @user do |f| %>
    <%= f.hidden_field :group_id, value: params[:group_id] %>
    <div class="row">
      <%= f.input :email, wrapper_html: { class: 'm12 s12' }  %>
    </div>
    <div class="row">
      <%= f.input :admin, as: :boolean, boolean_style: :inline, wrapper_html: {class:"i-checks m12 s12"} %>
    </div>
    <div class="row">
      <%= link_icon_to_back group_users_path(group_id: params[:group_id]) %>
      <%= save_button %>
    </div>
  <% end %>
</div>
