<%= simple_form_for(@usuario, url: usuario_password_update_path(@usuario)) do |f| %>
  <div class="container">
    <div class="row">
      <h3> <%= t(".change_my_password") %> </h3>
    </div>
    <div class="row">
      <%= f.input :password, label: t(".new_password"), required: true, autofocus: true, wrapper_html: { class: 'm12 s12' }  %>
    </div>
    <div class="row">
      <%= f.input :password_confirmation, label: t(".confirm_new_password"), required: true, wrapper_html: { class: 'm12 s12' }  %>
    </div>
    <div class="row">
      <%= link_icon_to_back usuario_path(@usuario) %>
      <%= save_button %>
    </div>
  </div>
<% end %>
