
<!-- Wrapper-->
<div class="wrapper">

	<!-- Page Header-->
	<section class="module-slides" id="home">

		<ul class="slides-container">
			<li class="bg-dark bg-dark-30">
				<%= image_tag('root5.png', class: 'img-responsive') %>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="h1 wow fadeInDown">A iluminação de sua casa</h1>
							<h1 class="h1 m-b-20 wow fadeInDown" data-wow-delay="0.5s">na palma de sua mão</h1>
							<p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Crie cenas personalizadas para ambientes diferentes</p>
							<p><a class="btn btn-circle btn-outline btn-lg btn-white wow fadeInDown" data-wow-delay="0.9s" href="#">Entenda como!</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="bg-dark bg-dark-30">
				<%= image_tag('root8.png', class: 'img-responsive') %>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="h1 wow fadeInDown">Ganhe tempo no seu dia </h1>
							<h1 class="h1 m-b-20 wow fadeInDown" data-wow-delay="0.5s">automatizando tarefas diversas</h1>
							<p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Tarefas automatizadas</p>
							<p><a class="btn btn-circle btn-lg btn-dark wow fadeInDown" data-wow-delay="0.9s" href="#">Entenda como!</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="bg-dark bg-dark-30 ">
				<%= image_tag('root3.png', class: 'img-responsive') %>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="h1 wow fadeInDown">Controle e Gerencia </h1>
							<h1 class="h1 m-b-20 wow fadeInDown" data-wow-delay="0.5s">de qualquer lugar do mundo</h1>
							<p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Seus ambientes controlados remotamente</p>
							<p><a class="btn btn-circle btn-outline btn-lg btn-white wow fadeInDown" data-wow-delay="0.9s" href="#">Entenda como!</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<nav class="slides-navigation"><a class="next" href="#"><span class="arrows arrows-arrows-slim-right"></span></a><a class="prev" href="#"><span class="arrows arrows-arrows-slim-left"></span></a></nav>
	</section>
	<!-- Page Header end-->
	<!-- About-->
	<section class="module module-divider-bottom" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-8 m-auto">
					<div class="module-title text-center">
						<h2>Institucional</h2>
						<p class="font-serif">We’re an award winning London based digital agency.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h5>We're creative studio</h5>
					<p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
					<p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
				</div>
				<div class="col-md-6">
					<h5>We're creative studio</h5>
					<p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
					<p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
				</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About end-->

	<!-- Notebooks-->
	<section class="module module-gray p-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<%= image_tag('notebooks.png', class: 'img-responsive bb') %>
			  </div>
		  </div>
		</div>
	</section>
	<!-- Notebooks end-->

	<!-- Bars-->
	<section class="module module-gray p-t-0">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="progress-item">
						<div class="progress-title">Gulp</div>
						<div class="progress">
							<div class="progress-bar progress-bar-brand" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
						</div>
					</div>
					<div class="progress-item">
						<div class="progress-title">UX Design</div>
						<div class="progress">
							<div class="progress-bar progress-bar-brand" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
						</div>
					</div>
					<div class="progress-item">
						<div class="progress-title">HTML / CSS3 / SASS</div>
						<div class="progress">
							<div class="progress-bar progress-bar-brand" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-item">
						<div class="progress-title">Gulp</div>
						<div class="progress">
							<div class="progress-bar progress-bar-brand" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
						</div>
					</div>
					<div class="progress-item">
						<div class="progress-title">UX Design</div>
						<div class="progress">
							<div class="progress-bar progress-bar-brand" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
						</div>
					</div>
					<div class="progress-item">
						<div class="progress-title">HTML / CSS3 / SASS</div>
						<div class="progress">
							<div class="progress-bar progress-bar-brand" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Bars end-->

	<!-- Portfolio-->
	<section class="module module-divider-bottom p-b-10" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-8 m-auto">
					<div class="module-title text-center">
						<h2>Produtos</h2>
						<p class="font-serif">An eye for detail makes our works excellent.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row row-portfolio row-gutter" data-columns="3">
				<div class="grid-sizer"></div>
				<div class="portfolio-item branding photo undefined">
					<div class="portfolio-wrapper">
						<%= image_tag('img-1.png', class: 'img-responsive ') %>
						<div class="portfolio-overlay"></div>
						<div class="portfolio-caption">
							<h5 class="portfolio-title">Mutualismi</h5>
						</div><a class="portfolio-link" href="portfolio-single-1.html"></a>
					</div>
				</div>
				<div class="portfolio-item web design undefined">
					<div class="portfolio-wrapper">
						<%= image_tag('img-1.png', class: 'img-responsive ') %>
						<div class="portfolio-overlay"></div>
						<div class="portfolio-caption">
							<h5 class="portfolio-title">The Perfume</h5>
						</div><a class="portfolio-link" href="portfolio-single-1.html"></a>
					</div>
				</div>
				<div class="portfolio-item photo web undefined">
					<div class="portfolio-wrapper">
						<%= image_tag('img-1.png', class: 'img-responsive ') %>
						<div class="portfolio-overlay"></div>
						<div class="portfolio-caption">
							<h5 class="portfolio-title">Bumblebee Icons</h5>
						</div><a class="portfolio-link" href="portfolio-single-1.html"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio end-->

	<section class="module p-b-0" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-8 m-auto">
					<div class="module-title text-center">
						<h2>Contato</h2>
						<p class="font-serif">Veja onde nos encontrar!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="module-sm module-gray" style="height:1000px">
		<iframe src="https://www.google.com/maps/d/embed?mid=1SsIyJ4UaHdmtr25A0KSRdhyRnSofeQG-"
			width="100%" height="100%"></iframe>
	</section>

	<section class="module">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<form class="m-b-60" id="contact-form" method="post" novalidate>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="text" name="name" placeholder="Nome" required="">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="email" name="email" placeholder="E-mail" required="">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="text" name="subject" placeholder="Subject" required="">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="form-control" name="message" placeholder="Menssagem" rows="12" required=""></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<input class="btn btn-round btn-black" type="submit" value="Enviar">
							</div>
						</div>
					</form>
					<!-- Ajax response-->
					<div class="ajax-response text-center" id="contact-response"></div>
				</div>
				<div class="col-md-4">
					<div class="icon-box icon-box-left p-t-0">
						<div class="icon-box-icon"><span class="icon icon-basic-paperplane"></span></div>
						<div class="icon-box-title">
							<h6>Fale com a gente!</h6>
						</div>
						<div class="icon-box-content">
							<p>Email: synchouseautomacao@gmail.com <br/> Telefone: (54) 99937-0036</p>
						</div>
					</div>
					<div class="icon-box icon-box-left">
						<div class="icon-box-icon"><span class="icon icon-basic-map"></span></div>
						<div class="icon-box-title">
							<h6>Onde estamos?</h6>
						</div>
						<div class="icon-box-content">
							<p>Rua Clementina Rossi<br/> 605, Erechim RS</p>
						</div>
						<div class="icon-box-link"><a href="#">Find us on map &rarr;</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper end-->
