<% breadcrumb :group_automation, @group_automation %>

<div class="container-row">
  <div class="row">
    <b><%= GroupAutomation.human_attribute_name(:id) %></b>
    <%= @group_automation.id %>
  </div>
  <div class="row">
    <b><%= GroupAutomation.human_attribute_name(:name) %></b>
    <%= @group_automation.name %>
  </div>
  <div class="row">
    <b><%= GroupAutomation.human_attribute_name(:active) %></b>
    <%= @group_automation.active %>
  </div>
  <div class="row">
    <b><%= GroupAutomation.human_attribute_name(:condition_operator) %></b>
    <%= @group_automation.condition_operator %>
  </div>
  <div class="row">
    <b><%= GroupAutomation.human_attribute_name(:created_at) %></b>
    <%= ltime @group_automation.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_group_group_automations_path(@group) %>
    <%= link_no_icon_to_edit(edit_admin_group_automation_path(@group_automation))%>
  </div>
</div>