<div class="row">
  <ul class="collection with-header">
    <li class="collection-header grey lighten-4 ">
      <h5>
        <b>Painel de Administração</b>
      </h5>
    </li>
    <%= link_to plural_model_name_for(Group), admin_groups_path, class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(Room), admin_rooms_path , class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(User), index_all_admin_users_path, class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(Control), admin_controls_path , class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(ControlLayout), admin_control_layouts_path , class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(Manufacturer), admin_manufacturers_path , class: "collection-item black-text" %>
    <%= link_to plural_model_name_for(Device), admin_devices_path , class: "collection-item black-text" %>
  </ul>
</div>
