<%= simple_form_for([:admin, @group_automation_action], url: admin_group_automation_action_form_path(@group_automation, @group_automation_action), input_html: { class: 'form_group_automation_action' }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :type_action,
      wrapper_html: { class: 'm12 s12', id: 'type-action-select' },
      collection: type_action_keys %>
  </div>

  <div class="row">
    <%= f.input :delay_time, wrapper_html: { class: 'm12 s12 delay-time-select' } %>
  </div>

  <div class="row">
    <%= f.association :run_automation, collection: group_automations(@group_automation.group), wrapper_html: { class: 'm12 s12 run-automacao-select' } %>
  </div>

  <div class="row">
    <%= f.association :turn_on_off_automation, collection: group_automations(@group_automation.group), wrapper_html: { class: 'm12 s12 turn-on-off-automation-select' } %>
  </div>

  <div class="row">
    <%= f.association :room_device, collection: room_devicess(@group_automation.group.group_rooms), wrapper_html: { class: 'm12 s12 device-acao-select' } %>
  </div>

  <div class="row">
    <%= f.association :control_command, collection: control_commands, wrapper_html: { class: 'm12 s12 device-propriedade-acao-select' } %>
  </div>

  <div class="row">
    <%= f.input :turn_on_off, collection: [['On', 'on'],['Off', 'off']], wrapper_html: { class: 'm12 s12 turn-on-off-select' } %>
  </div>

  <div class="row">
    <% if @group_automation_action.persisted? %>
      <%= link_icon_to_back admin_group_automation_action_path(@group_automation_action) %>
    <% else %>
      <%= link_icon_to_back admin_group_automation_group_automation_actions_path(@group_automation) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
