<% breadcrumb :layout_controles %>

  <div class="row">
    <h3><%= plural_model_name_for(LayoutControle) %>
    </h3>
  </div>

  <div class="row">
    <%= search_form_for @q, url: admin_layout_controles_path do |f| %>

    <div class="col s11">
      <%= f.search_field :descricao_or_obs_cont, class: "form-control", placeholder: "Pesquisar Layout Controles de Compone" %>
    </div>
    <div class="col s1">
      <button class="waves-effect waves-light btn grey lighten-4" type="submit">
        <i class="large material-icons black-text">search</i>
      </button>
    </div>

  <% end %>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><%= LayoutControle.human_attribute_name(:id) %></th>
        <th><%= LayoutControle.human_attribute_name(:descricao) %></th>
        <th><%= LayoutControle.human_attribute_name(:tipo_layout) %></th>
        <th><%= LayoutControle.human_attribute_name(:created_at) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @layout_controles.each do |layout_controle| %>

        <tr data-href="<%= admin_layout_controle_path(layout_controle) %>">
          <td><%= layout_controle.id %></td>
          <td><%= layout_controle.descricao %></td>
          <td><%= layout_controle.tipo_layout %></td>
          <td><%= ltime layout_controle.created_at %></td>
          <td><%= link_icon_to_edit(edit_admin_layout_controle_path(layout_controle))%></td>
          <td><%= link_icon_to_destroy(admin_layout_controle_path(layout_controle)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= link_icon_to_back admin_home_admin_index_path %>
  <%= link_icon_to_new(new_admin_layout_controle_path, action_new(@layout_controles)) %>
</div>

<div class="center-align">
  <%= will_paginate @layout_controles_componentes, renderer: MaterializePagination::Rails %>
</div>
