<% breadcrumb :layout_controle, @layout_controle %>

<div class="container-row">
  <div class="row">
    <b><%= LayoutControle.human_attribute_name(:id) %></b>
    <%= @layout_controle.id %>
  </div>
  <div class="row">
    <b><%= LayoutControle.human_attribute_name(:descricao) %></b>
    <%= @layout_controle.descricao %>
  </div>
  <div class="row">
    <b><%= LayoutControle.human_attribute_name(:tipo_layout) %></b>
    <%= @layout_controle.tipo_layout %>
  </div>
  <div class="row">
    <b><%= LayoutControle.human_attribute_name(:obs) %></b>
    <%= @layout_controle.obs %>
  </div>
  <div class="row">
    <b><%= LayoutControle.human_attribute_name(:created_at) %></b>
    <%= ltime @layout_controle.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_layout_controles_path %>
    <%= link_no_icon_to_edit(edit_admin_layout_controle_path(@layout_controle))%>
  </div>
</div>