<% breadcrumb :layout_control, @layout_control %>

<div class="container-row">
  <div class="row">
    <b><%= ControlLayout.human_attribute_name(:id) %></b>
    <%= @layout_control.id %>
  </div>
  <div class="row">
    <b><%= ControlLayout.human_attribute_name(:descricao) %></b>
    <%= @layout_control.descricao %>
  </div>
  <div class="row">
    <b><%= ControlLayout.human_attribute_name(:tipo_layout) %></b>
    <%= @layout_control.tipo_layout %>
  </div>
  <div class="row">
    <b><%= ControlLayout.human_attribute_name(:obs) %></b>
    <%= @layout_control.obs %>
  </div>
  <div class="row">
    <b><%= ControlLayout.human_attribute_name(:created_at) %></b>
    <%= ltime @layout_control.created_at %>
  </div>

  <div class="row">
    <%= link_icon_to_back admin_layout_controls_path %>
    <%= link_no_icon_to_edit(edit_admin_layout_control_path(@layout_control))%>
  </div>
</div>