<%= simple_form_for([:admin, @user], url: admin_user_form_path(@group, @user)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :email, wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class="row">
    <%= f.input :admin, as: :boolean, boolean_style: :inline %>
  </div>
  
  <div class="row">
    <% if @user.persisted? %>
      <%= link_icon_to_back admin_group_user_path(@group, @user) %>
    <% else %>
      <%= link_icon_to_back admin_group_users_path(@group) %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
