<% breadcrumb :users, @group %>

<div class="row">
  <%= search_form_for @q, url: admin_group_users_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :email_cont, class: "form-control", placeholder: "Pesquisar Usuários" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(User) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:id) %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th><%= User.human_attribute_name(:admin) %></th>
          <th><%= User.human_attribute_name(:created_at) %></th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr data-href="<%= admin_group_user_path(@group,user) %>">
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.admin %></td>
            <td><%= ltime user.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_group_user_path(@group, user))%></td>
            <td><%= link_icon_to_destroy(admin_group_user_path(@group, user)) %></td>
            <td><%= link_to 'Remover do group', remover_admin_group_user_path(@group, user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= link_icon_to_back admin_groups_path %>
  <%= link_icon_to_new(new_admin_group_user_path(@group), action_new(@users)) %>
</div>

<div class="center-align">
  <%= will_paginate @users, renderer: MaterializePagination::Rails %>
</div>
