<% breadcrumb :fabricantes %>

<div class="row">
  <%= search_form_for @q, url: admin_fabricantes_path do |f| %>
    <div class="col s12">
      <div class="input-search">
        <%= button_tag(type: 'submit', class: "btn-flat btn-search") do %>
          <i class="material-icons icon-search icon-hover">search</i>
        <% end %>
        <%= f.search_field :descricao_cont, class: "form-control", placeholder: "Search Fabricants" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-row">
  <b><%= plural_model_name_for(Grupo) %></b>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><%= Fabricante.human_attribute_name(:id) %></th>
          <th><%= Fabricante.human_attribute_name(:descricao) %></th>
          <th><%= Fabricante.human_attribute_name(:created_at) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @fabricantes.each do |fabricante| %>
          <tr data-href="<%= admin_fabricante_path(fabricante) %>">
            <td><%= fabricante.id %></td>
            <td><%= fabricante.descricao %></td>
            <td><%= ltime fabricante.created_at %></td>
            <td><%= link_icon_to_edit(edit_admin_fabricante_path(fabricante))%></td>
            <td><%= link_icon_to_destroy(admin_fabricante_path(fabricante)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="row">
    <%= link_icon_to_back admin_home_admin_index_path %>
    <%= link_icon_to_new(new_admin_fabricante_path, action_new(@fabricantes)) %>
  </div>
</div>
