<ul id="dropdown-nav" class="dropdown-content" style="width: 220px;">
  <% if current_usuario.admin? %>
    <li>
      <%= link_to grupos_path, class: "black-text" do %>
      <i class="material-icons">person</i>Grupos
    <% end %>
  </li>
<% end %>
<li>
  <%= link_to usuario_path(current_usuario), class: "black-text" do %>
  <i class="material-icons">vpn_key</i>Perfil
<% end %>
</li>
<li>
<%= link_to destroy_usuario_session_path, method: :delete, class: "black-text" do %>
<i class="material-icons">exit_to_app</i>Sair
<% end %>
</li>
</ul>

<ul id="slide-out" class="side-nav grey darken-3">
<li>
<div class="user-view black">
<a>
  <span class="white-text email"><%= current_usuario.email %></span></a>
</div>
</li>
<%= render 'layouts/menu_entry' %>
</ul>

<div class="navbar-fixed">
<nav>
<div class="nav-wrapper black">
<ul id="nav-mobile" class="left">
  <li>
    <a data-activates="slide-out" class="button-collapse show-on-large">
      <i class="material-icons">menu</i>
    </a>
  </li>
</ul>
<ul id="nav-mobile" class="right">
  <li>
    <a class="dropdown-button" data-activates="dropdown-nav">
      <i class="large material-icons">more_vert</i>
    </a>
  </li>
</ul>
</div>
</nav>
</div>
