<%= simple_form_for([:admin, @control]) do |f| %>
<%= f.error_notification %>

<div class="row">
  <%= f.input :name, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <%= f.input :obs, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <%= f.association :manufacturer, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.association :device, wrapper_html: { class: 'm12 s12' } %>
</div>
<div class="row">
  <%= f.association :control_layout, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <%= f.input :active, wrapper_html: { class: 'm12 s12' } %>
</div>

<div class="row">
  <% if @control.persisted? %>
    <%= link_icon_to_back admin_controls_path(@control) %>
  <% else %>
    <%= link_icon_to_back admin_controls_path %>
  <% end %>
  <%= save_button %>
</div>
<% end %>
